{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center">Edit Booking</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 col-sm-12 m-auto">
                <div class="menuContainer">
                    
                    <form class="bookingForm" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input class="submit" type="submit" value="Submit">
                    </form>
                </div>
            </div>
        </div>
    </div>
{%endblock%}