<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-grid.css">
    <link rel="stylesheet" href="/static/style/bootstrap/bootstrap-reboot.css">
    <link rel="stylesheet" href="/static/style/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/static/style/style.css">
</head>
<body>
    <div class="container head-charts">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <div class="graph-container bar-graph" id="bar-graph">
                    <div class="graph-container">
                        <div class="row graph-container">
                            <div class="bar-col" id="bar-1">
                                <div class="bar" style="height:10%"></div>
                                <label for="bar-1"></label>
                            </div>
                            <div class="bar-col" id="bar-2">
                                <div class="bar" style="height:10%"></div>
                                <label for="bar-2"></label>
                            </div>
                            <div class="bar-col" id="bar-3">
                                <div class="bar" style="height:10%"></div>
                                <label for="bar-3"></label>
                            </div>
                            <div class="bar-col" id="bar-4">
                                <div class="bar" style="height:10%"></div>
                                <label for="bar-4"></label>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="pie-chart">
                    <div class="graph-container">
                        <div id="js-pie-chart"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="pie-chart">
                    <div class="graph-container">
                        <div id="js-pie-chart"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-md-12 m-auto">
                <table class="m-auto">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>