{% extends 'base.html' %}
{% block content %}
    <head>
        <title>Admin - Manage Bookings</title>
    </head>
    <div class="container-fluid">
        <div class="row pt-5">
            <div class="col-12">
                <h1 class="text-center">View Bookings</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 m-auto pt-4">
                <table class="bookingTable m-auto">
                    <tr>
                        <th>User Name</th>
                        <th>Device Name</th>
                        <th>Device Type</th>
                        <th>Location</th>
                        <th>Type of Booking</th>
                        <th>Availability</th>
                        <th>Overdue</th>
                        <th>Edit/Delete</th>
                    </tr> 
                    {%for b in booking %}
                    <tr>
                        
                        <td>{{ b.userID.username }}</td>
                        <td>{{ b.deviceID.deviceName }}</td>
                        <td>{{ b.deviceID.deviceType }}</td>
                        <td>{{ b.deviceID.deviceLocation}}</td>
                        <td>{{ b.bookingType}}</td>
                        <td>{{ b.deviceID.deviceStatus}}</td>
                        <td>{{ b.dueDate}}</td>
                        <td><div class="d-flex edit-delete">
                        
                            <form method="POST" action="{% url 'edit_booking' b.id %}">
                                {% csrf_token %}
                                <button type="submit">Edit</button>
                            </form>
                            <form method="POST" action="{% url 'delete_booking' b.id %}">
                                {% csrf_token %}
                                <button type="submit">Delete</button>
                            </form>
                            
                        </div></td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
        </div>
        <div class="row pt-5 justify-content-center">
            <a href="{% url 'create_booking' %}"><button>Create New Booking</button></a>
        </div>
    </div>
{%endblock%}