{% extends 'base.html' %}
{% load static %}
{% block content %}
    <head>
        <title>Home</title>
    </head>
    <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center" style="color:white">
                <h1>Welcome to UOW<br>
                Inventory Management System</h1>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center" style="color:white">
            <h5>To access site features, please <a href="{% url 'signin' %}">Log in</a></h5><!-- Add url for sign in page -->
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row justify-content-center" style="color:white">
            <h4>Group D - Pages made by:<br>
            Callum Sharp<br>
            Abdullahi Mohamoud<br>
            Christopher Hoggarth<br>
            Emmanuel Cosma<br>
            Elias Avram</h4>
        </div>
    </div>
{%endblock%}