{% extends 'base.html' %}
{% block content %}
<head>
  <title>Admin - Manage Inventory</title>
  <script src="../static/style/JavaScript/manageInventory.js"></script>
</head>
  <div class="Main_Div">
	<!-- Container for equipment count -->
	<div id="equipmentCountContainer"><span id="eqCountText"></span></div>
	<!-- Table Buttons (Search and Filter) -->
	<div style="width:65%" id="InvTable">
		<div class="TableButtons">
			<!-- Search Bar -->
			<input type="search" id="SearchInput" onkeyup="SearchFunction()" placeholder="Search for device name...">
			<!-- Filter Button -->
			<button class="btn btn-primary" id="FilterButton" onclick="toggleFilterOptions(event)">Filter 
				<img class="FilterImage" src="../static/style/images/filter.png" alt="FilterImage">
			</button>
			<div id="FilterOptions">
				<input type="checkbox" id="AlphabeticalFilter" name="AlphabeticalFilter" value="AlphabeticalFilter" onchange="applyFilters()">
				<label for="AlphabeticalFilter" style="font-weight:bold">Alphabetically</label><br>
				<input type="checkbox" id="QuantityFilter" name="QuantityFilter" value="QuantityFilter" onchange ="applyFilters()">
				<label for="QuantityFilter" style="font-weight:bold">Qty-Low to High</label><br>
			</div>
		</div>
		<!-- Inventory Table -->
		<div style="overflow:auto; height: 640px; margin-top: 3px">
			<table style="width:95%; table-layout: fixed" id="InventoryTable">
				<!-- Table Headers-->
				<tr style="background-color: #0079be;">
			  		<th style="width: 25%">Device Name</th>
			  		<th style="width: 5%">Qty.</th>
			  		<th style="width: 15%">Device Type</th>
			  		<th style="width: 8%">Audit</th>
			  		<th style="width: 17%">Location</th>
			  		<th style="width: 30%">Links</th>
				</tr>
				<!-- Table information -->
				{% for device in devices %}
					<tr id="row-{{ device.id }}" onclick="displayDeviceInfo('{{ device.id }}')">
						<td style="display: none;">{{ device.id }}</td>
						<td>{{ device.deviceName }}</td>
						<td>{{ device.deviceQuantity }}</td>
						<td>{{ device.deviceType }}</td>
						<td>{{ device.deviceAudit|date:"d/m/Y" }}</td>
						<td>{{ device.deviceLocation }}</td>
						<!-- Links for manipulating table data -->
						<td style="padding-left:10px">
							<a href="{% url 'update_device' device.id %}"><button class="btn btn-primary" style="margin-left:10px">Edit</button></a>
							{% if device.devicedetail_set.all %}
                				<a href="/device/{{ device.id }}/instances"><button class="btn btn-secondary" style="margin-left:10px">Show Instances</button></a>
    						{% endif %}
							<a href="{% url 'delete_device' device.id %}"><button class="btn btn-danger" style="margin-left:10px">Delete</button></a>
						</td>
						<td style="display: none;">{{ device.deviceStatus }}</td>
						<td style="display: none;">{{ device.deviceComments }}</td>
					</tr>
				{% endfor %}
			</table>
		</div>
		<br>
		<!-- Generate Report Button -->
		<button style="margin-left: 370px" class="btn btn-primary" id="GenerateReport">
			Generate Report
		</button>
		<!-- Equipment Count Button -->
		<button class="btn btn-primary" id="EquipmentCount" onclick="toggleEquipCount(event)">
			Get Equipment Count
		</button>
	</div>
	<!-- Device Info Display -->
	<div style="width:30%" id="DeviceInfo">
		<h2>Device Info: </h2>
		<div style="width:80%" id="InfoBox">
			<!-- When a row is clicked on - device information and instances are displayed here -->
    	</div>
    	<br>
		<a href="{% url 'add_device' %}"><button class="btn btn-success" id="AddDeviceButton">Add new Device</button></a>
	</div>
  </div>
{% endblock %}