<html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Login Page</title>
            <link rel="stylesheet" href="../static/style/style.css">
        </head>
        <body>
            <h3></h3>
            <div>
            <form action="/action_page.php">
                <input type="text" id="email" name="email" placeholder="Email">
                <br>
                <br>        
                <input type="text" id="password" name="password" placeholder="Password">
                <input type="checkbox" id="signinBox" name="signinBox" value="signinBox">
                    <label for="signinBox">Stay signed in?</label><br>
                    <div class = "passResetLink">
                        <label for="passResetLink">Forgot password? Click here</label>
                    </div>
                    <br>
                </select>            
                <input type="submit" value="Login">
            </form>
            </div>
        </body>
    </html>
<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_forms -->
<!-- Edited by Elias using w3schools as referance -->    