<html lang="en">
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="../static/style/style.css">
        </head>
        <body>
            <div class = "backgroundBox">
                <div class = "input-flex">
                <form action="/action_page.php">
                    <input type="text" id="fname" name="fname" placeholder = "First Name"><br>
                    <input type="text" id="lname" name="lname" placeholder = "Last Name"><br>
                    <input type="text" id="email" name="email" placeholder = "Email"><br>
                </div>
                <div class = "dob-flex">
                    <label for="birthday">Date of birth:</label>
                    <input type="date" id="birthday" name="birthday">
                    <input type="text" id="password1" name = "password1" placeholder = "Password"><br>
                    <input type="text" id="password2" name = "password2" placeholder = "Repeat password"><br>
                </div>
                    <input type="submit" value="Register">
                </form>
                <div class = "backtoLogin">
                    <h4> Back to login page </h4>
                </div>
            </div>    
        </body>
    </html>

<!-- https://www.w3schools.com/html/html_form_input_types.asp -->
<!-- Edited by Elias using w3schools as referance -->     