<html lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Login Page</title>
            <link rel="stylesheet" href="../static/style/style.css">
        </head>
        <body>
            <h3>Login page</h3>
            <div>
            <form action="/action_page.php">
                <label for="email">Email</label>
                <input type="text" id="email" name="email" placeholder="Email">            
                <label for="password">Password</label>
                <input type="text" id="password" name="password" placeholder="Password">
                </select>            
                <input type="submit" value="Submit">
            </form>
            </div>
        </body>
    </html>
<!-- https://www.w3schools.com/css/tryit.asp?filename=trycss_forms -->
<!-- Edited by Elias using w3schools as referance -->    