
body {
    min-width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(#030940, #5a748e);
    overflow-x: hidden;
}
tbody {
    width: 100%;
}
.head-charts {
    padding: 50px 0;
}
table,td, th {
    min-width: 100px;
    min-height: 30px;
    border: solid 1px lightgray;
    padding: 5px;
    background-color: #fff;
    flex-grow: 1;
    text-align: left;
}
th {
    background-color: aliceblue;
    text-align: left;
    font-size: 20px;
    color:white;
    padding-bottom: 6px;
    padding-top: 6px;
    position:sticky;
    top:0;
    background-color: #0079be;
    z-index:1;
}
.graph-container {
    min-height: 200px;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
}
#InvTable, #UserTableDiv{
    background-color:#f3f3f3; 
    padding-left: 20px;
    padding-top: 20px;
    height: 800px;
    border-radius: 15px;
    float:left;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
tbody tr {
      transition: background 0.1s ease;
      height:40px;
}
tr:not(:first-child):hover {
    border-bottom: 3px solid #ddd;
    border-top: 3px solid #ddd;
    border-radius: 20px;
    cursor:pointer;
}
#DeviceInfo, #UserInfo{
    background-color: #f3f3f3;
    border-radius: 7px;
    padding-top:20px;
    margin-top: 60px;
    float: right;
    height: 700px;
}
.Main_Div{
    margin-left: 20px;
    margin-right: 20px;
    overflow:auto;
    padding-left: 20px; 
    padding-right:20px;
    background-color: #f3f3f300;
    border-radius: 7px;
    overflow: hidden;
}
#DeviceInfo h2, #UserInfo h2{
    color:white;
    background-color: #0079bf;
    border-radius: 5px;
    margin-left: 40px;
    padding-top: 5px;
    padding-bottom: 7px;
    width:45%;
    text-align: center;
}
h3{
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
#InfoBox{
    margin-left: 70px;
    background-color: #ffffff;
    white-space: nowrap;
    height: 500px;
    max-width: 430px;
    border-radius: 7px;
    overflow-y:scroll;
    overflow-x:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
}
button{
    padding: 10px;
    color:#000000;
    padding: 10px 30px;
    text-align: center;
    display:flex;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
#EditInfoButton{
    font-weight:bold;
    padding: 14px 100px;
    margin-left:100px;
}
#RemoveDeviceButton, #RemoveUserButton{
    font-weight:bold;
    padding: 12px 80px;
    margin-left: 150px;
    margin-top:20px;
}
#AddDeviceButton, #AddUserButton{
    padding: 14px 100px;
    font-weight: bold;
    margin-top:5px;
    margin-left: 125px;
}
#GenerateReport{
    display: inline;
    padding: 12px 25px;
    font-weight: bold;
}
#EquipmentCount{
    display: inline;
    padding: 12px 25px;
    font-weight: bold;
}
#equipmentCountContainer{
    display:none;
    background-color: white;
    border: 2px solid #0079be;
    border-radius: 5px;
    z-index: 2;
    width:185px;
    height:40px;
    position:absolute;
    margin-top:695px;
    margin-left:585px;
}
#eqCountText{
    font-weight: bold;
    padding: 3px;
}
#form {
    padding-left: 30px;
    display: flex;
    align-items: center;
}
input[type="search"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width:300px;
    margin-left: 10px;
}
#SearchInput {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 5px;
      width:300px;
      margin-left: 40px;
}
input[type=submit] {
    width: 60%;
    background-color: #607c8e;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
#FilterButton{
    display:flex;
    margin-left:600px;
    width: 120px;
    height:42px;
    padding: 10px 12px;
    padding-bottom: 35px;
    margin-bottom:3px;
    text-align: left;
    vertical-align: middle;
    display: inline;
    font-weight: bold;
}
.FilterImage{
    padding-left:15px;
    padding-bottom: 3px;
    width:45px;
    height:30px;
    vertical-align: middle;
    float: right;
}
#FilterOptions{
    margin-top:-3px;
    display:none;
    background-color: white;
    width: 175px;
    height: 70px;
    padding: 10px;
    margin-left: 950px;
    border-radius: 5px;
    position:absolute;
    z-index: 2;
    border: 2px solid #0079be;
}
#InfoBox p{
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 2px;
}
#header {
    padding-top: 20px;
    width: 100%;
    height: 30px;
    text-align:center;
    position: absolute;
    top: 0;
}
.navigation a:hover{
    transition-duration: 0.4s;
    text-decoration:bold;
    font-size: 18px;
    color:rgb(0, 153, 255);
}
.navigation {
    width: 100%;
    margin-left:100px;
}
.navigation li {
    display: inline;
    font-weight: bold;
    padding-right: 150px;
    overflow: hidden;
}
.navigation a {
    position: absolute;
    font-size: 1.1em;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 15px;
    padding-right:15px;
    border-radius: 10px;
    text-align: center;
    margin-right:10px;
    width:120px;
}
.logo {
    top: 0;
    left: 0;
    position: absolute;
    margin-left: 15px;
    margin-top: 10px;
    color: white;
}
#SignUpBtn{
    border: 2px solid white;
    margin-left: 400px;
    padding: 7px;
    margin-top:-7px;
}
#SignUpBtn:hover{
    color: white;
    font-size:17px;
    background-color: #0079be;
    border: 2px solid #0079be;
}
.container{
    width:500px;
    text-align: center;
}
#AddDeviceDetailsBtn, #AddDeviceBtn,
#UpdateDeviceBtn, #ToDevDetBtn,
#ToDevicesBtn, #backToMngInvBtn,
#AddUserBtn{
    padding: 10px 30px;
    font-weight: bold;
}
#device-info-container, #user-info-container{
    padding:20px;
    margin-left:20px;
    margin-top:-25px;
    font-weight: bold;
}
.device-info-item, .user-info-item {
    font-size:22px;
    padding-bottom:75px;
    color:#0079bf;
}
.formHeader{
    color:white;
}
.HelpText{
    padding:5px;
    text-align: left;
    font-size: 12px;
    color: white;
}
label[for="signinBox"] {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
input[type=submit]:hover {
    background-color: #607c8e;
}
div{
    border-radius: 5px;
    /*padding: 50px; could u maybe make this more specific than making all divs have this - breaks my pages */
}
.passResetLink {
    display: inline-block;
    padding: 0px;
    margin-left: 30px;
}
.checkbox-container {
    display: flex;
    vertical-align: middle;
}
.flex-signin{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 10px;
}
.signup-path{
    display: flex;
    flex-flow: row nowrap;
    padding: 2px;
    margin-left: 80px;
}
.backgroundBox{
    background-color: lightgrey !important;
    width: 300px !important;
    border: 15px solid green !important;
    padding: 50px !important;
    margin: 20px !important;
} 
